
body {
    background: #199CEC;
}

a, a:visited, a:hover, a:active, a:link {
    color: #1a9ded;
}

a, a:hover, a:active {
    text-decoration: none;
    color: #1a9ded;
}

#container {
    background: #FFFFFF;
    overflow: hidden;
    margin: 5vh auto 20px auto;
    max-width: 1200px;
    padding: 50px;
    box-shadow: 0 10px 20px #444;
}

#header a {
    color: white;
}

#title {
    position: relative;
    background: #FFFFFF;
    padding: 10px;
    box-shadow: 0 1px 7px #BBBBBB;
    margin-bottom: 20px;
}

#title h1 {
    font-size: 28px;
    font-weight: bolder;
    margin: 0;
}

#title p {
    margin: 0;
}

#title .social {
    list-style: none;
    float: right;
}

#title .social a {
    width: 32px;
    height: 32px;
    display: inline-block;
    text-indent: -9999px;
    margin: 10px 15px 0 0;
}

#title .social .github {
    background: white url('img/github128.png') no-repeat center center;
    background-size: cover;
}

#title .social .twitter {
    background: white url('img/twitter128.png') no-repeat center center;
    background-size: cover;
}

#title .menu {
    line-height: 50px;
}

#title .menu,
#title .menu li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}

#title .menu li a {
    display: inline-block;
    border-bottom: 5px solid #ededed;
    padding: 0 15px;
    margin-right: 10px;
    font-weight: bolder;
}

#title .menu li.active a {
    color: #222222;
    background-color: #ededed;
}

#title .menu li.active a:active, a:hover {
    background-color: #ededed;
}

.brand {
    display: block;
}

.brand img {
    display: block;
    max-width: 100%;
    margin: auto;
}

.rsvp {
    display: block;
}

.rsvp img {
    display: block;
    max-width: 80%;
    margin: 10px auto 20px;
}

.sponsors {
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: rgba(255,255,255,0.6);
}

.sponsors h2 {
    margin: 0 0 10px;
    padding: 0;
}

.sponsors a {
    display: block;
}

.sponsor {
    max-width: 100%;
    margin: 10px auto;
}

.speaker .avatar {
    display: block;
    max-width: 100%;
    margin: auto;
}

.speaker .social {
    text-align: center;
}

#footer {
    margin: 50px auto;
    text-align: center;
    max-width: 500px;
    font-size: smaller;
}

#footer a {
    color: #ffffff;
}

.github-avatar {
    float: left;
    width: 40px;
    margin-right: 10px;
}

.author {
    line-height: 2em;
}

.blog-content {
    margin-top: 15px;
}

a h2 {
    color: #000;
}